.container{height: 70vh;}
.box{
    padding:25px;
    text-align: center;
    color: white;
    
}
#box1{
    background-color: teal;

}
#box2{
    background-color: rgb(30, 146, 107);
    float: left;
    width: 3%;
    height: 100%;

}
#box3{
    background-color: rgb(115, 202, 173);
    height: 100%;

}
#box4{
    background-color: rgb(21, 109, 80);

} 